%dl
  %dt{data: {id: assignment.id }}= assignment.name
  .col-md-12
    %dd{data: {id: assignment.id }}
      = form_for assignment, html: {class: 'edit_form'} do |f|
        .form-group
          .field= f.text_field :name, class: 'form-control', id: 'edit_assignment_name'
          .field= f.select :course_id, options_for_select(courses.collect { |course| [course.name.titleize, course.id] }, 1), {}, class: 'form-control'
          .field= f.text_area :description, class: 'form-control'
          .field= f.date_field :due_date, class: 'form-control'
          .field= f.number_field :time_approximation, class: 'form-control', step: '0.25'
        %button.btn.btn-warning.btn-xs.save_button Save
        %button.btn.btn-danger.btn-xs.cancel_button Cancel
      .content
        .text.details= assignment.course.name
        .text.details= assignment.description
        .text.details= "Estimate: " + "#{assignment.time_approximation} (Hours)"
        .text.details= "Due Date: " + assignment.due_date.strftime('%b %-d, %Y')
        - if assignment.deleted_at.present?
          .text
            Deleted on:
            = assignment.deleted_at.strftime('%b %-d, %Y')

        %button.btn.btn-warning.btn-xs.edit_assignment Edit
        - if assignment.deleted_at.present?
          %button.btn.btn-danger.btn-xs.unarchive_button{data: {url: unarchive_path(assignment_id: assignment.id)}} Unarchive
        - else
          %button.btn.btn-danger.btn-xs.delete_button{data: {url: assignment_path(assignment)}} Archive
