%ul
  .assignment_names
    %li
      %a{id: assignment.id.to_s}= assignment.name

  .assignment_details{id: assignment.id.to_s + '_assignment'}
    %li
      = form_for assignment, html: {class: 'edit_form'} do |f|
        .text.bold_text= assignment.name
        .field= f.text_field :name, class: 'form-control', id: 'edit_assignment_name'
        .bold_text= assignment.course.name
        .text= assignment.description
        .field= f.text_area :description, class: 'form-control'
        .text= assignment.due_date.strftime('%b %-d, %Y')
        .field= f.date_field :due_date
        .text= assignment.time_approximation
        .field= f.number_field :time_approximation, class: 'form-control', step: '0.25'
        %button.btn.btn-warning.btn-xs.edit_course Edit
        %button.btn.btn-warning.btn-sm.save_button Save
        %button.btn.btn-danger.btn-xs.delete_button{data: {url: assignment_path(assignment)}} Delete
