%nav.right
  = link_to 'Archived', assignments_path(scope: :archived)
  = link_to 'Active', assignments_path
  = link_to 'All', assignments_path(scope: :all)
%h1.page-header Assignments
%section#assignments
  - if user_signed_in?
    .assignment_container= render partial: 'assignment_container', collection: assignments, as: :assignment
    - if assignments.empty?
      %h1.page-header
        %small#no_assignments Looks like you have no assignments!
    = form_for assignment, html: {id: 'new'}  do |f|
      %h1
        %small.page-header Add Assignment
      %fieldset
        %dl
          %dt= f.label :name
          %dd= f.text_field :name, class: 'form-control'

          %dt= f.label :description
          %dd= f.text_area :description, class: 'form-control'
          %section.small_input
            .form-inline
              .form-group
                %dt= f.label :course
                %dd= f.select :course_id, options_for_select(courses.collect { |course| [course.name.titleize, course.id] }, 1), {}, class: 'form-control'

              .form-group
                %dt= f.label :due_date
                %dd= f.date_field :due_date, class: 'form-control'

              .form-group
                %dt= f.label 'Time Estimate (hours)'
                %dd= f.number_field :time_approximation, class: 'form-control', step: '0.25'

      %fieldset.actions
        = f.submit 'Add Assignment', class: 'btn btn-success', id: 'submit_course'
  - else
    = render 'example'
