%tr
  = form_for course, html: {class: 'edit_form'} do |f|
    %td.col-md-2
      .text= course.name
      .field= f.text_field :name, id: 'edit_course_name'
    %td.col-md-2
      .text= course.teacher_name
      .field= f.text_field :teacher_name
    %td.col-md-2
      = course.assignments.count
    %td.col-md-4
      .text= course.start_time.strftime('%I:%M %p') + ' - '
      .field= f.time_field :start_time
      .text= course.end_time.strftime('%I:%M %p')
      .field= f.time_field :end_time
    %td.col-md-4
      %button.btn.btn-warning.btn-sm.edit_course Edit
      %button.btn.btn-warning.btn-sm.save_button Save
      %button.btn.btn-danger.btn-sm.delete_button{data: {url: course_path(course)} } Delete
