%h1.page-header Courses
%section#courses
  - if user_signed_in?
    - if courses.present?
      %table.table.table-striped
        %thead
          %tr
            %th Course Name
            %th Teacher Name
            %th # of assignments
            %th Schedule
            %th
        %tbody
          = render partial: 'course_row', collection: courses, as: :course
    - else 
      %h1.page-header
        %small Create some courses to add assignments
    = form_for course do |f|
      %fieldset
        = f.hidden_field :user_id, value: current_user.id
        .form-group.col-md-12
          %dl
            .col-md-6
              %dt= f.label :course_name
              %dd= f.text_field :name, class: 'form-control'
            .col-md-6
              %dt= f.label :teacher_name
              %dd= f.text_field :teacher_name, class: 'form-control'
        .form-group.col-md-12
          %dl
            .col-md-4
              %dt= f.label :start_time
              %dd= f.time_field :start_time, ampm: true

            .col-md-4
              %dt= f.label :end_time
              %dd= f.time_field :end_time, ampm: true

            .col-md-4
              %dt= f.label :days_of_the_week
              %ul.dropdown-menu
      %fieldset.actions
        = f.submit 'Add Course', class: 'btn btn-success btn-sm', id: 'submit_course'
  - else
    = render 'example'
